@charset "UTF-8";
@-ms-viewport: {
  width: device-width;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f6f6f6;
}

.container {
  padding: 20px;
  background-color: #f6f6f6;
}
